<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon id="ion-icon" size="large" name="person-circle-outline"></ion-icon>
  <ion-label size="30px">¡Hola Cami!</ion-label>

  <ion-content>
  <!-- Default Item -->
  <ion-item id="botones-menu">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>
      Mis Datos
    </ion-label>
  </ion-item>

  <!-- Item as a Button -->
  <ion-item (click)="buttonClick()">
    <ion-icon name="storefront-outline"></ion-icon>
    <ion-label>
      Mis Direcciones
    </ion-label>
  </ion-item>

  <ion-item (click)="buttonClick()">
    <ion-icon name="card-outline"></ion-icon>
    <ion-label>
      Mis Medios de Pago
    </ion-label>
  </ion-item>

  <ion-item (click)="buttonClick()">
    <ion-icon name="bag-handle-outline"></ion-icon>
    <ion-label>
      Mis Compras
    </ion-label>
  </ion-item>


  <!-- Item as an Anchor 
  <ion-item href="https://www.ionicframework.com">
    <ion-label>
      Anchor Item
    </ion-label>
  </ion-item>-->

  <ion-item id = "cerrar-sesion" (click)="buttonClick()">
    <ion-icon name="log-out-outline"></ion-icon>
    <ion-label>
      Cerrar Sesión
    </ion-label>
  </ion-item>

  </ion-content>
</ion-content>

