<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <!--
    Aquí va el carrusel
    -->


  <ion-list>
    <ion-item *ngFor="let producto of listaProductos">
      <ion-card>
        <ion-card-header>
          <img [src]="producto.imagen">

          <ion-card-subtitle>{{producto.subtit}}</ion-card-subtitle>
          <ion-card-title>{{producto.titulo}}</ion-card-title>
          <ion-card-subtitle>$ {{producto.precio}}</ion-card-subtitle>
          <ion-icon name="cart"></ion-icon>
          <button ion-button color="primary" [routerLink]="['/detalle']">Agregar al carrito</button>
          <!-- <i></i> -->
        </ion-card-header>

        <ion-card-content>{{producto.descripcion}}</ion-card-content>
      </ion-card>

      <!---
      <ion-label>
        <img [src]="producto.imagen">
        <h1>{{producto.titulo}}</h1>
        <h2>{{producto.subtit}}</h2>
        <h2>{{producto.precio}}</h2>
        <p>{{producto.descripcion}}</p>
      </ion-label>
      -->
    </ion-item>
  </ion-list>

</ion-content>
